DB_HOST_PORT=5432
MIDDLEWARE_PORT=8000
SIMULATOR_PORT=8001
# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=middts
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
NEO4J_URL=neo4j:7687
NEO4J_AUTH=neo4j/password

# InfluxDB
#Use the scenario admin token
INFLUXDB_TOKEN=admin_token_middts
INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_BUCKET=iot_data
INFLUXDB_ORGANIZATION=middts

USE_INFLUX_TO_EVALUATE=True
ENABLE_INFLUX_LATENCY_MEASUREMENTS=False

# ThingsBoard credentials (shared)
THINGSBOARD_USER=tenant@thingsboard.org
THINGSBOARD_PASSWORD=tenant
THINGSBOARD_MQTT_PORT=1883
THINGSBOARD_MQTT_KEEP_ALIVE=60

# Middleware ThingsBoard target
MIDDLEWARE_THINGSBOARD_HOST=demo.thingsboard.io
MIDDLEWARE_TB_HOST=demo.thingsboard.io
MIDDLEWARE_TB_PORT=443
MIDDLEWARE_TB_SCHEME=https

# Middleware listener behavior
START_LISTENER_AFTER_TB=0

# Simulator ThingsBoard target (full URL)
SIMULATOR_THINGSBOARD_HOST=https://demo.thingsboard.io

# Simulator behavior
SIMULATOR_NUMBER=1
HEARTBEAT_INTERVAL=5
RANDOMIZE=1
USE_MEMORY_STATE=1
SIMULATOR_DEBUG=False
SIMULATOR_ALLOWED_HOSTS=*
SIMULATOR_INFLUXDB_BUCKET=iot_data